{% extends "base.html" %}
{% block content %}

<h1>About</h1>

<p>Here's a little poem: Full from food and compeletly caffinated, we wrote code to match. Finacial Theory, Stock Tickers, Graphs and Charts were our deserts. Sweet, they are! The baking? 20+ hrs. Have a taste!</p>


<p>Run a stock analysis on a desired company and get back charts communicating the social and fundemental value of the company.</p> 

<h3>Tools</h3>
    <ul>
        <li>Web: Python, HTML, CSS</li>
        <li>Data: Python, SQL</li>
        <li>Frameworks: Bootstrap, Flask</li>
    </ul>

<h3>APIs</h3>
    <ul>
        <li>PsychSignal</li>
        <li>Estimize</li>
        <li>Tagnifi</li>

<h3>Contributors</h3>
    <ul>
        <li>Kai</li>
        <li>Harjinder Singh</li>
        <li>Richard Yan</li>
        <li>Jordan Hauer</li>
        <li>Ash Singal</li>
        <li>Oleh Dubno</li>
    </ul>



{% endblock %}
