{% extends "base.html" %}
{% block content %}
<div class="col-md-12 text-center">
    <img src="{{ url_for('static', filename='img/purple_rainbow_logo.png') }}" />
</div>

<form>
    <div class="col-md-offset-4 col-md-4 col-xs-12 search-input">
        <input class="form-control input-lg" type="text" name="ticker" placeholder="Ticker" />
    </div>

    <div class="col-md-offset-5 col-md-2 col-xs-offset-1 col-xs-10 search-input">
        <button class="btn btn-lg btn-primary btn-block">Analyze</button>
    </div>
</form>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stx-chart.css') }}" />
<div id="myContainer" style="width:600px;height:150px;"></div>


{% endblock %}
